body {
  background: black;
}
header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cadetblue;
}
header > h1 {
  margin: 10px;
}
.theme-label {
  float: left;
  padding: 15px;
}
.switch {
  float: right;
  margin: 15px;
}
.search-field {
  width: 40%;
}
